@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33a0d9;
  padding: 10px 40px;

  .logo {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

    h1 {
      margin: 0;
      font-weight: 900;
    }
  }

  nav ul {
    list-style-type: none;
    display: flex;

    li {
      padding: 10px 50px;
    }

    li a {
      text-decoration: none;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }

    .login {
      background-color: #fff;
      border-radius: 8px;
    }
  }
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 80%;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;
    label {
      font-size: 24px;
      font-weight: 600;
    }

    input {
      margin: 20px 0;
      border: 2px solid black;
      padding: 10px 0;
    }
  }

  .btn {
    width: 100%;
    background-color: black;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

footer {
  background-color: #33a0d9;
  width: 100vw;
  padding-left: 150px;
  ul {
    display: flex;
    list-style-type: none;

    li {
      padding: 20px 15px;
    }

    li a {
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
}
